In [1]:
import pandas as pd

import datetime

In [92]:
df_1 = pd.DataFrame({"a": [1, 2, 3, 4, 5]})
df_2 = pd.DataFrame({"b": [1, 2, 3, 4, 5]})
df_3 = pd.DataFrame({"c": [1, 2, 3, 4, 5]})

In [94]:
pd.concat([df_1, df_2.shift(1), df_3.shift(2)], axis=1)

   a  d    b    c
0  1  1  NaN  NaN
1  2  2  1.0  NaN
2  3  3  2.0  1.0
3  4  4  3.0  2.0
4  5  5  4.0  3.0